.container{
    display:flex;
    justify-content: space-around;
    .box{
        width:20%;
        text-align:center;
        .bordered();
        background-color:#fff;
    }// this closes box
}// this closes container
// hero image section 
.hero-img{
    background-image:url('../images/dirt.jpg');
    height:40vh;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
}